<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Triumph | Motocycles</title>

</head>
<body>
    <section class="main">
        <header>
            <a href="#"><img src="/img/logo.png" class="logo" alt="logo"></a>
            <div class="toggle"></div>
            <ul class="navigation">
                <li><a href="#">Detalhes</a></li>
                <li><a href="#">Galeria</a></li>
                <li><a href="#">Loja</a></li>
                <li><a href="#">Contato</a></li>

            </ul>
        </header>
        <div class="content">
            <h2>Street Triple <span>RS</span></h2>
            <a href="#" class="btn">Cadastre-se</a>
            <img src="img/moto.png" class="bike" alt="Moto Triumph">
        </div>

        <div class="slider">
            <div class="slides active">
                <h2><span>Motor</span><br>675 cc</h2>
                <h2><span>To Speed</span><br>260kmph</h2>

            </div>

            <div class="slides">
                <h2><span>Painel</span><br>TFT</h2>
                <h2><span>0 - 100 hmph</span><br>4 seconds</h2>

            </div>
            
            <div class="slides">
                <h2><span>Rodas</span><br>17</h2>
                <h2><span>Pneus</span><br>Super Corsa</h2>

            </div>
        </div>
        <div class="footer">
            <ul class="sci">
                <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>

            </ul>
            <div class="dots">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>

            </div>
        </div>
    </section>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="js/script.js"></script>   
</body>
</html>